@import url("/assets/styles/variables.css");
@import url("/assets/styles/normalize.css");
@import url("/assets/styles/visualizeArea.css");
@import url("/assets/styles/paramsContainer.css");

* {
	box-sizing: border-box;

	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.875rem;
	text-align: left;
	letter-spacing: 0.0625rem;
	color: var(--primary-color);
}

body {
	min-width: 16rem;

	margin: 0 1rem;

	background-color: var(--bg-light);
}

header {
	min-height: 8vh;

	padding: 1rem 0 0.5rem;

	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 1.75rem;
	text-align: left;
	letter-spacing: 0.25rem;
}

main {
	display: flex;
	flex-direction: column;

	gap: 2rem;
}

@media (min-width: 769px) {
	* {
		font-size: 1rem;
	}
	header {
		padding: 1.5rem 0 2rem;

		font-size: 2rem;
	}

	body {
		margin: 0 2rem;
	}
}

@media (min-width: 1168px) {
	body {
		width: 68.75rem;

		margin: 0 auto;
	}
}
